################################################################################
# This file is managed by ansible.
# There is no need to make manual edits to it - they will surely be overwritten.
################################################################################

upstream {{ item.upstream | default('backend') }} {
    {{ item.balancing_method | default('') }}
{% for backend in item.backends %}
    server {{ backend.host }}:{{ backend.port }} {{ 'backup' if backend.backup else ''}} weight={{ backend.weight }};
{% endfor %}
}

server {
    listen 443 ssl http2;
    server_name {{ item.domains | join(' ') }};
    server_name_in_redirect off;

    proxy_set_header            X-Real-IP           $remote_addr;
    proxy_set_header            X-Forwarded-For     $proxy_add_x_forwarded_for;
    proxy_set_header            X-Forwarded-Proto   $scheme;

    ssl_certificate             /etc/letsencrypt/live/{{ proxy_domains[0] }}/fullchain.pem;
    ssl_certificate_key         /etc/letsencrypt/live/{{ proxy_domains[0] }}/privkey.pem;
    ssl_trusted_certificate     /etc/letsencrypt/live/{{ proxy_domains[0] }}/fullchain.pem;
    ssl_dhparam                 /etc/nginx/dhparams.pem;

    ssl_session_cache           shared:SSL:50m;
    ssl_session_timeout         5m;
    ssl_stapling                on;
    ssl_stapling_verify         on;
    ssl_prefer_server_ciphers   on;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';

    location / {
        proxy_pass          http://{{ item.upstream | default('backend') }};
        proxy_http_version  1.1;
        proxy_set_header    Host        $host;
        proxy_set_header    Upgrade     $http_upgrade;
        proxy_set_header    Connection  keep-alive;
    }
}
