{
  "ConnectionStrings": {
    "RefugeesCon": "{{ wh_api_database_connection_string }}"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Error",
      "Microsoft": "Error"
    }
  },
  "Debug": { // Debug provider.
    "LogLevel": {
      "Default": "Error", // Overrides preceding LogLevel:Default setting.
      "Microsoft.Hosting": "Debug" // Debug:Microsoft.Hosting category.
    }
  },
  "AllowedHosts": "*"
}
