
// This file is managed by ansible.
// There is no need to make manual edits to it - they will surely be overwritten.

{
  "JWT": {
    "Issuer": "{{ wh_api_jwt_issuer }}",
    "Audience": "{{ wh_api_jwt_audience }}",
    "Key": "{{ wh_api_jwt_key }}",
    "Lifetime": "{{ wh_api_jwt_lifetime }}",
  }
}
