################################################################################
# This file is managed by ansible.
# There is no need to make manual edits to it - they will surely be overwritten.
################################################################################

[client]
user="{{ mysql_root_username }}"
password="{{ mysql_root_password }}"

[mysqldump]
user="{{ mysql_root_username }}"
password="{{ mysql_root_password }}"
