
################################################################################
# This file is managed by ansible.
# There is no need to make manual edits to it - they will surely be overwritten.
################################################################################

[Unit]
Description={{ instance.comment if instance.comment is defined else instance.syslog_identifer }}

[Service]
User={{ questionnaire_bot_user }}
Group={{ questionnaire_bot_group }}
WorkingDirectory={{ instance.working_directory }}
ExecStart=/usr/bin/dotnet {{ questionnaire_bot_app_directory }}/{{ questionnaire_bot_entrypoint_dll }} --urls="{{ instance.urls }}" --dbPath={{ instance.db_path }} --botToken={{ instance.telegram_token }} --pathToQuest={{ instance.quest_path }}

Environment=ASPNET_ENVIRONMENT=Production
SyslogIdentifier={{ instance.syslog_identifer }}
LimitNOFILE={{ questionnaire_bot_limit_no_file }}

Restart=always
RestartSec={{ questionnaire_bot_restart_sec }}
KillSignal=SIGINT
TimeoutStopSec={{ questionnaire_bot_timeout_stop_sec }}

[Install]
WantedBy=multi-user.target
